<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PokerChampions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @RenderSection("topright", required: true);
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <!--Modals called in from Landing.cshtml-->
    <!-- Modal for Logging In -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Log in to your account</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="username-group">
                        <label class="control-label" for="username">Username</label>
                        <input type="text" class="form-control" id="username">
                        <span id="username-msg" class="help-block"></span>
                    </div>
                    <div class="form-group" id="password-group">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" class="form-control" id="password">
                        <span id="password-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Create Account links to ~/signup, put signup script there?-->
                    <a class="btn btn-default" data-toggle="modal" data-target="#Register" data-dismiss="modal" href="#">Create Account</a>
                    <button type="button" id="login-btn" class="btn btn-primary">Log in</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Register-->
    <div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="RegisterLabel">Create an Account</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="register-email-group">
                        <label class="control-label" for="register-email">Email</label>
                        <input type="text" class="form-control" id="register-email" />
                        <span id="register-email-msg" class="help-block"></span>
                    </div>
                    <div class="form-group" id="register-username-group">
                        <label class="control-label" for="register-username">Username</label>
                        <input type="text" class="form-control" id="register-username">
                        <span id="RegisteUsername-msg" class="help-block"></span>
                    </div>
                    <div class="form-group" id="register-password-group">
                        <label class="control-label" for="register-password">Password</label>
                        <input type="password" class="form-control" id="register-password">
                        <span id="register-password-msg" class="help-block"></span>
                    </div>
                    <div class="form-group" id="register-confirm-group">
                        <label class="control-label" for="register-confirm">Confirm Password</label>
                        <input type="password" class="form-control" id="register-confirm">
                        <span id="register-confirm-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- Change These-->
                    <!--  <a class="btn btn-default" href="~/Register">Create Account</a>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="register-btn" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
//find keycodes for shift+tab in order to cycle backwards through the form easily
            //Script for Login
            $("#login-btn").click(submitLogin);
            $('#username').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#password").focus();
                }
            });
            $('#password').on("keyup", function (e) {
                if (e.keyCode == 13) {
                    submitLogin();
                }
            });
            //Script for Register, define submitRegister Function below
            $("#register-btn").click(submitRegister);
            $('#register-email').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#register-username").focus();
                }
            });
            $('#register-username').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#register-password").focus();
                }
            });
            $('#register-password').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#register-confirm").focus();
                }
            });
            $('#register-confirm').on("keyup", function (e) {
                if (e.keyCode == 13) {
                    $("#register-username").focus();
                }
            });


            function submitLogin() {
                $.post("/ajax/login", {
                    username: $('#username').val(),
                    password: $('#password').val()
                },
                loginHandler);
            }

            function submitRegister() {
                $.post("/ajax/register", {
                    email: $('#register-email').val(),
                    username: $('#register-username').val(),
                    password: $('#register-password').val(),
                    passwordConfirm: $('register-confirm').val()
                }, registerHandler);
            }


            function loginHandler(response) {
                if (response.usernameError.length > 0) {
                    $("#username-group").addClass("has-error");
                    $("#username-msg").text(response.usernameError);
                } else {
                    $("#username-group").removeClass("has-error");
                    $("#username-msg").text("");
                }
                if (response.passwordError.length > 0) {
                    $("#password-group").addClass("has-error");
                    $("#password-msg").text(response.passwordError);
                } else {
                    $("#password-group").removeClass("has-error");
                    $("password-msg").text("");
                }
                if (response.usernameError.length == 0 && response.passwordError.length == 0) {
                    window.location.href = '/';
                }
            }

//NOT FINISHED, NEED TO SYNC UP WITH REGISTER MODEL ERRORS
            function registerHandler(response) {
                    if (response.usernameError.length > 0) {
                        $("#register-username-group").addClass("has-error");
                        $("#register-username-msg").text(response.usernameError);
                    } else {
                        $("#register-username-group").removeClass("has-error");
                        $("#register-username-msg").text("");
                    }
                    if (response.passwordError.length > 0) {
                        $("#register-password-group").addClass("has-error");
                        $("#register-password-msg").text(response.passwordError);
                    } else {
                        $("#register-password-group").removeClass("has-error");
                        $("#register-password-msg").text("");
                    }
                    if (1 > 0) {
                        $("#register-confirm-group").addClass("has-error");
                        $("#register-confirm-msg").text(JSON.stringify(response));
                    } else {
                        $("#register-confirm-group").removeClass("has-error");
                        $("#register-confirm-msg").text("");
                    }
                    if (response.usernameError.length == 0 && response.passwordError.length == 0) {
                        window.location.href = '/';
                    }
            }
        });//end ready function
    </script>
</body>
</html>
